{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="bg-white overflow-hidden">
  <div class="relative max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="hidden lg:block bg-gray-50 absolute top-0 bottom-0 left-3/4 w-screen"></div>
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <div>
        <h2 class="text-base text-teal-600 font-semibold tracking-wide uppercase">
          {{ self.title }}
        </h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          {{ self.subtitle }}
        </h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              {% image self.image original class="rounded-lg shadow-lg object-cover object-center" width="1184" height="1376" %}
            </div>
          </figure>
        </div>
      </div>
      <div class="mt-8 lg:mt-0 prose">
        <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
          {{ self.description }}
        </p>
        <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
          {% if self.button_1 %}
            <div class="rounded-md shadow">
              <a href="{% pageurl self.button_1 %}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 md:py-4 md:text-lg md:px-10">
                {{ self.button_1_name }}
              </a>
            </div>
          {% endif %}
          {% if self.button_2 %}
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
              <a href="{% pageurl self.button_2 %}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-teal-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                {{ self.button_2_name }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
