{% extends 'web/base.html' %}
{% load static %}
{% load block_tags %}
{% load thumbnail %}

{% block content %}
  {% include 'compose/slideshow.html' %}
  <div class="pure-g">
    {% for b in body_list %}
      {% include 'compose/_article_block.html' with allow_image_float=True outer_class="pure-u-1-1 article-block" image_class="pure-img thumbnail" heading_level='h1' %}
    {% endfor %}
  </div>
  {% if design %}{% block_add body_create_url 'Article' %}{% endif %}
  {% include 'compose/features.html' with feature_outer_class="pure-u-1-2 pure-u-md-1-4" %}
  <div class="pure-g">
    {% for b in article_bottom_list %}
      {% include 'compose/_article_block.html' with allow_image_float=True outer_class="pure-u-1-1 article-block" image_class="pure-img thumbnail" heading_level='h1' %}
    {% endfor %}
  </div>
  {% if design %}{% block_add article_bottom_create_url 'Article' %}{% endif %}
{% endblock %}
