{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        {{ self.heading }}
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        {{ self.sub_heading }}
      </p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {% for team_member in self.team_members %}
        <li>
          <a href="{{ team_member.page.url }}">
            {% image team_member.picture original as tmp_image %}
            <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="{{ tmp_image.url }}" alt="">
            <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">
              {{ team_member.name }}
            </h3>
            <p class="text-base leading-7 text-gray-600">
              {{ team_member.description }}
            </p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
